#python
__pycache__/
*.pyc
*.pyo
*.pyd
*.python-version

#virtualenv
venv/
env/
.venv/

#IDE
.vscode/

#jupyter
.ipynb_checkpoints/
*.ipynb

#airflow
airflow.cfg
airflow.db
logs/
airflow-webserver.pid
standalone_admin_password.txt

#macOS
.DS_Store


#secrets
secrets/
*.json
.env