GCS_BUCKET=your-bucket-name
BQ_PROJECT=your-gcp-project-id
BQ_DATASET=your-bigquery-dataset
BQ_TABLE= bigquery-table-name
BQ_STAGING = bigquery-staging-table-name
AIRFLOW_CONN_POSTGRES_DATATEL=postgresql://user:password@host:5432/dbname